/* Como deixar responsivo? Mostrar como fica ao aumentar o 'inspecionar'*/
/*Como colocar footer no final da página?*/
/*Qual diferença entre align-items e justify-content?*/
/*Como fazer com que uma div aumente de altura conforme os itens dentro desta div aumentam de tamanho ou são deslocados para cima ou baixo? */


@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Montserrat&family=Roboto:wght@400;700&display=swap');
.header {
    background-color: rgb(197, 3, 1);
    box-sizing: border-box;
    height: 100px;
    display: flex;
    font-weight: bold;
    font-family: Boogaloo, sans-serif;
    font-size: 21px;
    width: 100%;
    top:0;
    left: 0;
}

body, h2 { 
    font-family: Boogaloo, sans-serif; 
    display: flex;
    flex-direction: column;
}

#logo {
    height: 100%;
    max-width: 250px;
    width: auto;
    margin-left: 0;
} 

.menu-inicial {
    width: 60%;
    padding: 20px;
}

.links-menu {
    position: relative;
    display: flex; 
    width: 45%;
    top: 50%;
    transform: translateY(-50%);
}

.link-header {
    padding: 15px;
    color: rgb(254,184,0);
    text-decoration: none;
}

.cadastro-login {
    position: relative;
    width: 20%;
    right:2%;
}

.links-cadastro {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}

.degradeVermelhoAmarelo {
    height: 20px;
    background: linear-gradient(rgb(197, 3, 1),rgb(254,184,0))
}

.secaoCadastro {
    text-decoration: none;
}

#inserir-endereco {
    text-align: center;
    height: 250px;
    width: 100%;
    background-color: rgb(254,184,0);
}

.tituloEndereco {
    color: white;
    padding: 30px;
    font-size: 50px;
}

.endereco-cliente {
    width: 40%;
    height: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 0px;
    color: rgb(106,105,110);
    font-size: 14px;
    white-space: nowrap; 
    position: relative;
}

.endereco-cliente::placeholder {
    font-family: Boogaloo, sans-serif;
}

.botaoEndereco {
    font-family: Boogaloo, sans-serif;
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(197, 3, 1);
    color: white;
    font-size: 18px;
    border-radius: 3px;
    border: solid 2px white;
    padding: 5px;
    cursor: pointer;
}

.botaoEndereco:hover {
    transition: 200ms;
    transform: scale(1.05);
    box-shadow: 0px 0.5px 10px black;
}

.degradeAmareloBranco {
    height: 20px;
    background: linear-gradient(rgb(254,184,0),white)
}

.tituloComidaSelecionada {
    margin-left: 50%;
    font-size: 30px;
    padding: 15px;
    color: rgb(197, 3, 1);
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: #000; 
}

#cardapios {
    display: flex;
    font-size: 50px;
}

.listaDeOpcoes {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px; 
    justify-content:space-between;
    width: 350px;
}

.comida {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 40px;
    border: solid;
    padding: 5px;
    border-radius: 14px;
    height: 180px;
}

.comida:hover {
    transition: 300ms;
    transform: scale(1.05);
    box-shadow: 0px 0.5px 10px black;
    cursor: pointer;
}

.comida:hover .tituloComida {
    color: white;
    transform: scale(1.3);
    opacity: 1;
    z-index: 999;
}

.tipoComida {
    width: 265px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 10px;
}

.tituloComida {
    position: relative;
    font-size: 25px;
    font-family: Boogaloo, sans-serif;
    color: white;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000; 
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

.tipoComida.-comidaBrasileira {
    background-image: url("../comida-brasileira.jpg") ;
}

.tipoComida.-comidaJaponesa {
    background-image: url("../comida-japonesa.jpg") ;
}

.tipoComida.-comidaMexicana {
    background-image: url("../comida-mexicana.jpg") ;
}

.tipoComida.-fastFood {
    background-image: url("../fast-food.jpg") ;
}

.tipoComida.-sobremesas {
    background-image: url("../sobremesas.jpg") ;
}

.tipoComida.-sucos {
    background-image: url("../sucos.jpg") ;
}

.tituloComidaOpcao {
    position: relative;
    font-size: 20px;
    font-family: Boogaloo, sans-serif;
    color: rgb(197, 3, 1);
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #000; 
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 250px;
    text-align: center;
    height: 50px;
}

.imagem-comida {
    max-width:200px;
    width: auto;
    height: 150px;
    border-radius: 8px;
    opacity: 0.5;
    transition: 200ms;
}

.divisorColuna{
    width: 15px;
    background-color: rgb(197, 3, 1);
    opacity: 0.5;
    border-radius: 10px;
}

.imagem-comida:hover {
    transition: 200ms;
    transform: scale(1.05);
    opacity: 1;
}

.opcoesComida {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
}

.imagemComidaOpcao {
    max-width:200px;
    width: auto;
    height: 150px;
    border-radius: 8px;
}

.adicionarCarrinho {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: rgb(254,184,0);
    width: 70%;
    height: 20px;
    border-radius: 4px;
}

.adicionarCarrinho:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.removerCarrinho {
    font-size: 15px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: rgb(197, 3, 1);
    width: 70%;
    height: 20px;
    border-radius: 4px;
    color: white;
}

.removerCarrinho:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.opcaoComida {
    padding: 5px;
    text-align: center;
}

.degradeBrancoVermelho {
    height: 20px;
    background: linear-gradient(white,rgb(197, 3, 1));
}

footer {
    background-color: rgb(197, 3, 1);
    color: rgb(254,184,0);
    height: 50px;
    bottom: 0%; 
    width: 100%;
    display: flex;
}

#rodape {
    font-family: Boogaloo, sans-serif;
    font-weight: bold;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 25%;
    margin: auto;
}

#logo-rodape {
    position: relative;
    float:left;
    left: 0;
    max-width: 150px;
    width: auto;
    height: 50px; 
}

.escritosRodape {
    color: rgb(254,184,0);
    text-decoration: none;
} 






